.modal-background {
  background-color: rgba(0, 0, 0, 50%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 50%;
  height: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container h2 {
  font-size: 40px;
}

.modal-container p {
  font-size: 20px;
}

.button-replay {
  all: unset;
  width: 200px;
  height: 50px;
  background: linear-gradient(to right,  #B6B9FD, #868AE8);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
